# Copyright 2018-2020 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack with an order definition suitable for Java native image applications"
  homepage = "https://paketo.io/docs/howto/java/#build-an-app-as-a-graalvm-native-image-application"
  id = "paketo-buildpacks/java-native-image"
  keywords = ["java", "composite", "native-image"]
  name = "Paketo Buildpack for Java Native Image"
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/java/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "buildpack.toml"]

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/ca-certificates"
    optional = true
    version = "3.6.3"

  [[order.group]]
    id = "paketo-buildpacks/upx"
    optional = true
    version = "3.4.3"

  [[order.group]]
    id = "paketo-buildpacks/bellsoft-liberica"
    version = "10.2.5"

  [[order.group]]
    id = "paketo-buildpacks/syft"
    optional = true
    version = "1.32.1"

  [[order.group]]
    id = "paketo-buildpacks/leiningen"
    optional = true
    version = "4.6.4"

  [[order.group]]
    id = "paketo-buildpacks/gradle"
    optional = true
    version = "7.2.4"

  [[order.group]]
    id = "paketo-buildpacks/maven"
    optional = true
    version = "6.15.5"

  [[order.group]]
    id = "paketo-buildpacks/sbt"
    optional = true
    version = "6.12.0"

  [[order.group]]
    id = "paketo-buildpacks/executable-jar"
    optional = true
    version = "6.7.4"

  [[order.group]]
    id = "paketo-buildpacks/spring-boot"
    optional = true
    version = "5.26.1"

  [[order.group]]
    id = "paketo-buildpacks/datadog"
    optional = true
    version = "3.14.0"

  [[order.group]]
    id = "paketo-buildpacks/native-image"
    version = "5.12.1"

  [[order.group]]
    id = "paketo-buildpacks/procfile"
    optional = true
    version = "5.6.4"

  [[order.group]]
    id = "paketo-buildpacks/environment-variables"
    optional = true
    version = "4.5.3"

  [[order.group]]
    id = "paketo-buildpacks/image-labels"
    optional = true
    version = "4.5.2"
