# Copyright 2018-2020 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.4"

[buildpack]
id       = "paketo-buildpacks/java-native-image"
name     = "Paketo Java Native Image Buildpack"
version  = "{{.version}}"
homepage = "https://github.com/paketo-buildpacks/java-native-image"

[[order]]
group = [

### Order is strictly enforced
  { id = "paketo-buildpacks/graalvm",                  version="3.2.2" },
  { id = "paketo-buildpacks/gradle",                   version="3.1.1", optional = true },
  { id = "paketo-buildpacks/leiningen",                version="1.1.1", optional = true },
  { id = "paketo-buildpacks/maven",                    version="3.1.1", optional = true },
  { id = "paketo-buildpacks/sbt",                      version="3.1.1", optional = true },

### Order determines precedence
  { id = "paketo-buildpacks/executable-jar",           version="3.1.1", optional = true },
  { id = "paketo-buildpacks/spring-boot",              version="3.2.1", optional = true },
  { id = "paketo-buildpacks/spring-boot-native-image", version="1.3.1" },
  { id = "paketo-buildpacks/procfile",                 version="2.0.2", optional = true },

### Order is strictly enforced
  { id = "paketo-buildpacks/environment-variables",    version="2.1.0", optional = true },
  { id = "paketo-buildpacks/image-labels",             version="2.0.4", optional = true },
]

[metadata]
include-files = [
  "LICENSE",
  "NOTICE",
  "README.md",
  "buildpack.toml",
]
